html, body {
  width: 100%;
  margin: 0px;
  font-size: 14pt;
  padding: 0px;
  color: #222;
  font-family: 'Segoe UI', Arial, sans-serif;
}

body {
  background-color: #EEE;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

nav {
  padding: 25px 10px 15px 10px;
  border-bottom: 1px solid #AAA;
}

nav h2 {
  margin: 0;
  display: inline-block;
  font-size: 24pt;
}

nav span {
  color: #888;
  font-size: 12pt;
  position: relative;
  bottom: 2pt;
}

nav a {
  color: #EEE;
  display: inline-block;
  float: right;
  margin-top: 4pt;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  background-color: #666;
}

nav a:hover {
  background-color: #888;
}

nav a.action {
  background-color: #4da6ff;
}

nav a.action:hover {
  background-color: #5fb6ff;
}

#main-container * {
  display: inline-block;
}

main {
  width: 921px;
  padding: 0px 10px 10px 10px;
  margin: 0;
}

menu {
  border-left: 1px solid #AAA;
  padding: 10px 0px 0px 10px;
  overflow: hidden;
  position: absolute;
  margin: 0;
  height: 400px;
  width: 58px;
}

menu img {
  display: inline-block;
}

article {
  margin-top: 10px;
  border-bottom: 1px solid #CCC;
  width: 921px;
  padding-bottom: 5px;
}

article .top-bar {
  width: 921px;
  position: relative;
}

article p {
  margin: 5px 0px 0px 0px;
  padding: 5px;
  line-height: 1.7em;
}

article .top-bar span {
  font-size: 16pt;
}

article .top-bar .tag {
  background-color: #888;
  color: #EEE;
  padding: 0px 10px 2px 10px;
}

article .top-bar .title {
  font-weight: 600;
}

article .top-bar .author {
  font-size: 14pt;
  font-style: italic;
  position: absolute;
  right: 0px;
  color: #555;
  display: inline-block;
  vertical-align: middle;
}

article p {
  width: 100%;
}

article .bottom-bar {
  float: right;
  font-size: 12pt;
}