html, body {
  width: 100%;
  margin: 0px;
  font-size: 14pt;
  padding: 0px;
  color: #222;
}

body {
  background-color: #EEE;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

nav {
  padding: 25px 10px 15px 10px;
  border-bottom: 1px solid #AAA;
}

nav h2 {
  margin: 0;
  display: inline-block;
  font-size: 24pt;
}

a.linkless {
  text-decoration: none;
  color: #222;
}

a.linkless:hover {
  text-decoration: none;
  color: #222;
}

a.linkless:visited {
  text-decoration: none;
  color: #222;
}

a.linkless:active {
  text-decoration: none;
  color: #222;
}

nav span {
  color: #888;
  font-size: 12pt;
  position: relative;
  bottom: 2pt;
}

nav > a {
  color: #EEE;
  display: inline-block;
  float: right;
  margin-top: 4pt;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
  background-color: #666;
}

nav > a:hover {
  background-color: #888;
}

nav > a.action {
  background-color: #4da6ff;
}

nav > a.action:hover {
  background-color: #5fb6ff;
}

#main-container * {
  display: inline-block;
}

main {
  width: 921px;
  padding: 0px 10px 10px 10px;
  margin: 0;
}

menu {
  border-left: 1px solid #AAA;
  padding: 10px 0px 0px 10px;
  overflow: hidden;
  position: absolute;
  margin: 0;
  height: 400px;
  width: 58px;
}

menu img {
  display: inline-block;
}

article {
  margin-top: 10px;
  border-bottom: 1px solid #CCC;
  width: 921px;
  padding-bottom: 5px;
}

article .top-bar {
  width: 921px;
  position: relative;
}

article p {
  margin: 5px 0px 0px 0px;
  padding: 5px;
  line-height: 1.7em;
}

article .top-bar span {
  font-size: 16pt;
}

article .top-bar .tag {
  color: #999;
  font-weight: 400;
  padding: 0px 5px 0px 5px;
}

article .top-bar .title {
  font-weight: 600;
}

article .top-bar .author {
  font-size: 14pt;
  font-style: italic;
  position: absolute;
  right: 0px;
  color: #555;
  display: inline-block;
  vertical-align: middle;
}

article p {
  width: 100%;
}

article .bottom-bar {
  float: right;
  font-size: 12pt;
}

#topic-body {
  /* Chrome mobile resizing textarea fix */
  height: 100px;
}

#topic-form {
  width: 921px;
  overflow: hidden;
  height: 49px;
}

#topic-form * {
  width: 901px;
}

#topic-form .title {
  font-size: 16pt;
  font-weight: 600;
  padding-bottom: 5px;
}

* {
  font-family: 'Segoe UI', Arial, sans-serif;
}

.popup-container {
  visibility: hidden;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20%;
  background-color: #EEE;
  position: fixed;
  z-index: 10000;
  padding: 20px;
  width: 400px;
  opacity: 0;
}

.popup-form {
  width: 400px;
}

.popup-form input {
  display: block;
  width: 380px;
  margin-top: 5px;
}

.popup-form input[type=submit] {
  width: 400px;
}

.bg-cover {
  visibility: hidden;
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
}

input[type=text], input[type=password], input[type=email], textarea {
  outline: none;
  padding: 10px;
  background-color: #EEE;
  font-size: 14pt;
  border: none;
}

input[type=password], input[type=text], input[type=email] {
  border-bottom: 1px solid #AAA;
  padding-bottom: 5px;
}

input[type=submit] {
  color: #EEE;
  padding: 10px;
  border: none;
  font-size: 14pt;
  background-color: #4da6ff;
}

input[type=submit]:hover {
  background-color: #5fb6ff;
  cursor: pointer;
  border: none;
}

#recaptcha-signup {
  margin-top: 5px;
  margin-left: 45px;
}

#welcome-box {
  float: right;
  margin-top: 20px;
}

strong {
  color: #000;
}